net:
  ironoc:
    portfolio:
      brew:
        job-enable: false
        cron-job: "0 0 2 */3 * ?"
        api:
          endpoint:
            ice: https://api.sampleapis.com/coffee/iced
            hot: https://api.sampleapis.com/coffee/hot
        graph:
          endpoint: https://api.sampleapis.com/coffee/graphql
      github:
        job-enable: true
        cron-job: "0 1 1 */3 * ?"
        timeout:
          connect: 100000
          read: 100000
        instance-follow-redirects: true
        follow-redirects: true
        api:
          endpoint:
            repos: https://api.github.com/users/{username}/repos?per_page={per_page}&page={page}
            user-ids-cache: conorheffron
            issues: https://api.github.com/repos/{username}/{repo}/issues?per_page={per_page}&page={page}
            projects-cache: >
              bio-cell-red-edge,
              booking-sys,
              cart-dart,
              cbio-skin-canc,
              elastic-tester,
              gene-expr,
              global-max-sim-matrix,
              go-graph,
              hl7-hapi-fhir-obs-api,
              kafka-consumer-check,
              kafka-producer-check,
              ironoc,
              ironoc-db,
              ironoc-msg,
              ironoc-pytest,
              ironoc-rustt,
              ironoc-spark,
              mcp-charity,
              mern-sandbox,
              nba-stats,
              normalise-fetalh,
              py-flask-graph,
              rabbitmq-tester,
              redis-tester,
              rules-engine,
              sb-kafka-listener,
              shopping-cart-go,
              shoppingcart-java,
              shopping-cart-kotlin,
              shoppingcart-scala
      config:
        ignore-paths: api,graphiql
        handle-extensions: "html,js,json,css,map,svg,eot,ttf,woff,png,jpg,jpeg,gif,ico"
        resource-handler: "/**"
        resource-loc: "classpath:/static/"

spring:
  mvc:
    favicon:
      enabled: false
  banner:
    location: classpath:/static/ironoc-banner.txt
  graphql:
    graphiql:
      enabled: true
    schema:
      fileExtensions: .graphql

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui-ironoc.html
    operationsSorter: method
    enabled: true

server:
  forward-headers-strategy: framework
