net:
  ironoc:
    portfolio:
      brew:
        api:
          endpoint:
            ice: https://api.sampleapis.com/coffee/iced
            hot: https://api.sampleapis.com/coffee/hot
      github:
        job-enable: true
        cron-job: "0 1 1 ? * *"
        timeout:
          connect: 100000
          read: 100000
        instance-follow-redirects: true
        follow-redirects: true
        api:
          endpoint:
            repos: https://api.github.com/users/{username}/repos?per_page={per_page}&page={page}
            user-ids-cache: conorheffron
            issues: https://api.github.com/repos/{username}/{repo}/issues?per_page={per_page}&page={page}
            projects-cache: >
              bio-cell-red-edge,
              booking-sys,
              cbio-skin-canc,
              fun-with-r,
              gene-expr,
              global-max-sim-matrix,
              graphql-box,ironoc,ironoc-db,
              ironoc-msg,
              ironoc-pytest,
              ironoc-rustt,
              ironoc-spark,
              mern-essential-training,
              mern-sandbox,
              nba-stats,
              netflix-movie-duration,
              normalise-fetalh,
              normalise-spotify,
              nyc-school-scores,
              python-sandbox,
              rabbitmq-tester,
              react-graphql-course,
              redis-tester,
              ronoc-packages
      config:
        ignore-paths: api
        handle-extensions: "html,js,json,css,map,svg,eot,ttf,woff,png,jpg,jpeg,gif,ico"
        resource-handler: "/**"
        resource-loc: "classpath:/static/"

spring:
  mvc:
    favicon:
      enabled: false
  banner:
    location: classpath:/static/ironoc-banner.txt

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui-ironoc.html
    operationsSorter: method
